@import "../variables";


.cream-block {
  height: 100%;
  text-align: center;
  margin-bottom: 65px;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;
  }

  &__container {
    border: 2px solid rgba(20, 167, 221, 0.3);
    border-radius: 8px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

 

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
